@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.helvetica {
    font-family: "Arimo";
}
.raleway {
    font-family: "Raleway";
}

.toDealerAnim{
    animation: toUser 0.9s linear;

}

  @keyframes toUser {
    0% {
      transform: translateX(0%) translateY(0%);
    }
    100% {
        transform: translateX(-30%) translateY(600%);
    }
  }
  @keyframes toDealer {
    0% {
      transform: translateX(0%) translateY(0%);
    }
    100% {
        transform: translateX(-60%) translateY(300%);
    }
  }
  


  /* CARD FLIP */
  .card-container {
    perspective: 1000px; /* Enables 3D effect */
    width: 42px;
    height: 56px;
    cursor: pointer;
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /* Allows 3D children */
    transition: transform 0.6s; /* Smooth flip animation */
  }
  
  .card.flipped {
    transform: rotateY(180deg); /* Flip the card */
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hides back face when flipped */
    border-radius: 3px;
    overflow: hidden;
  }
  
  .card-front {
    background-color: white;
    display: flex;
    font-size: 12px;
  }
  
  .card-back {
    transform: rotateY(180deg); /* Start the back face flipped */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  /* dymanic */

  .dynamic-shadow-dom {
    --dynamic-font-family-primary: "Poppins", sans-serif;
    --dynamic-font-family-numbers: "Roboto Mono", monospace, sans-serif;
    --dynamic-base-1: #E7BD70;
    --dynamic-base-2: #E7BD70;
    --dynamic-base-3: #E7BD70;
    --dynamic-base-4: #E7BD70;
    --dynamic-base-5: #E7BD70;
    --dynamic-brand-hover-color: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.08),
        rgba(0, 0, 0, 0.08)
      ), #4779ff;
    --dynamic-brand-primary-color: #4779ff;
    --dynamic-brand-secondary-color: rgba(71, 121, 255, 0.15);
    --dynamic-connection-green: #41cc99;
    --dynamic-border-radius: 12px;
    --dynamic-hover: rgba(22, 37, 77, 0.03);
    --dynamic-error-1: #ff4646;
    --dynamic-error-2: rgba(255, 70, 70, 0.1);
    --dynamic-footer-background-color: #E7BD70;
    --dynamic-footer-text-color: #000;
    --dynamic-footer-icon-color: #4779ff;
    --dynamic-loading-animation-gradient: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0)
    );
    /* --dynamic-overlay: #fff; */
    /* --dynamic-shadow-down-1: 0px 3px 0px #ffffff00; */
    --dynamic-shadow-down-2: 0px 3px 0px #00000000;
    --dynamic-shadow-down-3: 0px 6px 0px #00000000;
    --dynamic-shadow-up-1: 0px -8px 48px -8px rgba(109, 121, 165, 0.16);
    --dynamic-text-link: #0047ff;
    --dynamic-text-primary: #000;
    --dynamic-text-secondary: black;
    --dynamic-text-size-body-mini: 11px;
    --dynamic-text-size-body-normal: 15px;
    --dynamic-text-size-body-small: 12px;
    --dynamic-text-size-button-primary: 18px;
    --dynamic-text-size-button-secondary: 12px;
    --dynamic-text-size-numbers-big: 14px;
    --dynamic-text-size-numbers-medium: 12px;
    --dynamic-text-size-numbers-small: 10px;
    --dynamic-text-size-title: 18px;
    --dynamic-text-tertiary: rgba(0, 0, 0, 0.65);
    --dynamic-badge-background: #E7BD70;
    --dynamic-badge-color: #000000;
    --dynamic-badge-dot-background: #E7BD70;
    --dynamic-badge-primary-background: #E7BD70;
    /* --dynamic-badge-primary-color: #fff; */
    --dynamic-search-bar-background: ;
    --dynamic-search-bar-background-hover: ;
    --dynamic-search-bar-background-focus: #E7BD70;
    --dynamic-search-bar-border: 2px solid #000;
    --dynamic-search-bar-border-hover: 2px solid #000;
    --dynamic-search-bar-border-focus: 2px solid #000;
    --dynamic-modal-border: 2px solid #000;
    --dynamic-modal-width: 22.5rem;
    --dynamic-modal-padding: 1.5rem;
    --dynamic-footer-padding: 1.25rem 1.25rem 1.25rem 1.5rem;
    --dynamic-footer-border: 2px solid #000;
    --dynamic-wallet-list-tile-padding: 0.75rem;
    --dynamic-wallet-list-tile-gap: 0.375rem;
    --dynamic-wallet-list-max-height: 16.25rem;
    --dynamic-wallet-list-tile-background: #E7BD70;
    --dynamic-wallet-list-tile-border: 2px solid #000000;
    /* --dynamic-wallet-list-tile-shadow: 0px 3px 0px #fff; */
    --dynamic-wallet-list-tile-background-hover: #E7BD70;
    --dynamic-wallet-list-tile-border-hover: 2px solid #000000;
    --dynamic-wallet-list-tile-shadow-hover: 0px 3px 0px #00000000;
    --dynamic-connect-button-background: linear-gradient(to bottom, #E7BD70, #F3D495);
    --dynamic-connect-button-color: #000;
    --dynamic-connect-button-radius: 15px;
    --dynamic-connect-button-border: 0px solid #000;
    --dynamic-connect-button-shadow: 0px 3px 0px #000000000;
    --dynamic-connect-button-background-hover: linear-gradient(to bottom, #e7bd7092, #f3d49586);
    --dynamic-connect-button-color-hover: #000;
    --dynamic-connect-button-border-hover: 0px solid #000;
    --dynamic-connect-button-shadow-hover: 0px 3px 0px #00000000;
    --dynamic-tooltip-color: #000;
    /* --dynamic-tooltip-text-color: #fff; */
  }
  