@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.helvetica {
    font-family: "Arimo";
}
.raleway {
    font-family: "Raleway";
}

.toDealerAnim{
    animation: toUser 0.9s linear;

}

  @keyframes toUser {
    0% {
      transform: translateX(0%) translateY(0%);
    }
    100% {
        transform: translateX(-30%) translateY(600%);
    }
  }
  @keyframes toDealer {
    0% {
      transform: translateX(0%) translateY(0%);
    }
    100% {
        transform: translateX(-60%) translateY(300%);
    }
  }
  


  /* CARD FLIP */
  .card-container {
    perspective: 1000px; /* Enables 3D effect */
    width: 42px;
    height: 56px;
    cursor: pointer;
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /* Allows 3D children */
    transition: transform 0.6s; /* Smooth flip animation */
  }
  
  .card.flipped {
    transform: rotateY(180deg); /* Flip the card */
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hides back face when flipped */
    border-radius: 3px;
    overflow: hidden;
  }
  
  .card-front {
    background-color: white;
    display: flex;
    font-size: 12px;
  }
  
  .card-back {
    transform: rotateY(180deg); /* Start the back face flipped */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  /* LOADER */
  .smalltobig{
    animation: stb 1s linear;
  }
  @keyframes stb {
    0% {
        scale: 0;
        opacity: 100;
    }
    99%{
        scale: 1;
        opacity: 100;
    }
    100%{
        opacity: 0;
    }
  }